# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.dart_tool/
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

ios/Flutter/flutter_export_environment.sh
# Flutter/Dart/Pub related
**/doc/api/
.flutter-plugins
lib/generated/
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock
/build/
android/key.properties
debug_info/
ios/Flutter/.last_build_id

ios/Podfile.lock

# Web related
lib/generated_plugin_registrant.dart

ios/Flutter/flutter_export_environment.shios/Flutter/flutter_export_environment.shpubspec.lock# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
